body{
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
	margin: 0px;
}

h1{
	font-family: Times New Roman;
	font-size: 21px;
}

h2{
	font-family: Times New Roman;
	font-size: 22px;
}

h3{
	font-family: Times New Roman;
	font-size: 16px;
}

/*bar*/

.bar{
	height: 100%;
	width: 17%;
}

.cont{
	border: 1px solid #29282c;
	border-radius: 5px;
	background-color: #B0C4DE;
	color: #333;
	text-align: center;
	padding: 5px;
	margin: 5px;
	width: 210px;
}


.container{
	width: 210px;
	margin: 5px;
	padding: 5px;
}
.draggable{
	border: 1px solid #29282c;
	border-radius: 5px;
	background-color: #4682B4;
	text-align: center;
	color: #fff;
	width: 200px;
	margin: 5px;
	padding: 5px;
	cursor: move;
	
}
.draggable.dragging{
	opacity: .5;
}


.form_add{
	border: 1px solid #29282c;
	border-radius: 5px;
	background-color: #4682B4;
	text-align: center;
}

.add_ways{
	border: 1px solid #29282c;
	border-radius: 5px;
	background-color: #4682B4;
	color: #fff;
	width: 210px;
	margin: 5px;
	padding: 5px;
}

.name_1{
	width: 170px;
	margin-bottom: 2px;
}
.name_2{
	width: 170px;
	margin-bottom: 2px;
}

.main1{
	font-size: 24px;
	font-weight: bold;
}
.main2{
	font-size: 16px;
	font-weight: lighter;
}
.main3{
	width: 80%;
	font-size: 14px;
	text-align: justify;
}

/*Выбор загрузки*/

.tabs>div {
	display: none;
	padding: 10px 15px;
	font-size: 16px;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2 {
	display: block;
}

.tabs>label {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	font-family: Times New Roman;
	font-size: 16px;
	cursor: pointer;
	position: relative;
}

.tabs>input[type="radio"]:checked+label {
	text-decoration: underline;
}

/*content*/

.content{
	height: 100%;
	width: 83%;
	border: 1px solid white;
}

.open_book{
	border: 1px solid #29282c;
	border-radius: 5px;
	background-color: #B0C4DE;
	text-align: center;
	margin: 5px;
	padding: 5px;
}